html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #1f2937;
}

header li a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo,
header {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f9faf8;
  font-weight: 900;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.hero {
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 45px;
}

.hero-right img {
  border-radius: 15px;
}

.hero-left h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #e5e7eb;
}

.hero-left h3 {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background: #3882f6;
  border-radius: 15px;
  padding: 8px 30px;
  color: white;
  font-weight: bold;
  border: solid 2px white;
}
.content {
  padding: 75px;
}
.content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 24px;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-container img {
  border-radius: 15px;
  border: solid 2px #3882f6;
}
.quote {
  background: #e5e7eb;
  padding: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.quote h2 {
  font-style: normal;
}

.call,
.call-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 120px;
  gap: 100px;
  color: white;
  background: #3882f6;
  border-radius: 15px;
}

.call button {
  background: #3882f6;
  border-radius: 15px;
  padding: 8px 30px;
  color: white;
  font-weight: bold;
  border: solid 2px white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
}

footer h1 {
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 36px;
}
